* {
  margin: auto;
  padding: 0;
}

.container {
  top: 40%;
  left: 50%;
  position: absolute;
  margin-bottom: 5;
  transform: translate(-50%, -50%);
  margin-bottom: 5px;
}
.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 70%;
}

footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
}
