* {
  margin: auto;
  padding: 0;
}

.container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 100%;
}

.avatar:hover {
  transform: scale(1.2);
}

footer {
  position: fixed;
  height: 120px;
  bottom: 0;
  width: 100%;
}
