* {
  margin: auto;
  padding: 0;
}
#row {
  padding-top: 15%;
  padding-bottom: 20%;
  border-radius: 30px;
  box-shadow: 12px 12px 22px gray;
  background-color: rgb(228, 222, 222);
}
.container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin-bottom: 5px;
}
.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 70%;
}
