body {
  background-image: url("../images/Background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
#text-hover-color {
  color: #08254d;
  font-weight: bold;
}
#text-hover-color:hover {
  color: black;
}

.nav-link {
  font-weight: bold;
  color: #08254d;
}

#drop-down-button {
  background-color: white;
  border-color: white;
}

#drop-down-button:hover {
  background-color: white;
  border-color: white;
  color: black;
}

#social-media-icon {
  color: #08254d;
}

#see-our-work {
  color: #08254d;
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
#see-our-work:hover {
  color: white;
  background-color: black;
  font-weight: bold;
}
